<div class="block">
  {% if block.title != blank %}<div class="block-title">{{ block.title | escape }}</div>{% endif %}
  {% if block.bodyHtml != blank %}<div class="body">{{ block.bodyHtml }}</div>{% endif %}
  {% render 'public/rsvp-inputs', inputs: block.inputs %}
</div>
